<ul class="contacts">
  <li>
    <a href="https://github.com/colinrubbert" target="_blank">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  <li>
    <a href="https://twitter.com/colinrubbert" target="_blank">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  <li>
    <a href="http://www.colinrubbert.com/blog/" target="_blank">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  <li>
    <a href="mailto:colinrubbert@gmail.com" target="_blank">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  <li>
    <a href="tel:920-379-1918">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-phone fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
  <li>
    <a href="/resume.pdf" download>
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-file-text-o fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </li>
</ul>
