---
title: Colin Rubbert Resume
---
<div id="top">
  <div class="ice col-xs-12">
    <div class="col-xs-10 col-xs-offset-1 text-center">
      <h1>Colin Rubbert</h1>
      <%= partial "partials/contacts" %>
    </div>
  </div>
</div>
<div class="clear"></div>
<div id="cards"> <!-- Start Cards Section -->
  <%= partial "partials/resume" %>
</div><!-- End Cards Section -->
