---
title: Colin Rubbert Resume
---
<div id="top"> <!-- Start Top Section -->
  <div class="ice col-xs-12">
  </div>
</div> <!-- End Top Section -->
<div class="clear"></div>
<div id="cards"> <!-- Start Cards Section -->
  <div class="col-xs-10 col-xs-offset-1">
    <div class="fire">
      <h2 class="text-center">Hi, Ben</h2>
      <h3 class="text-center">I'm Colin, I love to build things, create welcoming communities and share my knowledge. Let's work together to impact developers lives.</h3>
    </div>
  <div class="clear"></div>
    <div class="fire col-xs-12">
      <h3 class="text-center"><i>lets talk about me</i></h3>
      <hr/>
      <p>
        <i>I'm a web developer</i> but that's not where I started out in life. I started out as a child always looking for something new and challenging to preoccupy my time. Having a passion for building legos and a strong desire to have a wicked new bike to cruise around the neighborhood on, I got my first job in manufacturing at the age of 9 (it was my step-dad's business). This gave me my first real challenge in life and I got to build cool things.
      </p>
      <p>
        Fast forward many years and I was still in manufacturing, I was pretty good at it but I was bored. I had solved all the challenging problems that I had faced previously. One day I was offered a supervisor position after only being with that company for a few weeks. Knowing I wouldn't be happy without a challenge I turned in my letter of resignation the following day and signed up for school that same day to become an IT Systems Administrator so that I could pursue my passion of technology.
      </p>
      <p>
        Once again many years had passed and once again I excelled at my job but I was bored and needed to find something new. Starting to feel that urge to make another leap into something more difficult and desperately wanting to be challenged again, I decided I would take a crack at learning how to program, tried many times before but it never stuck with me. I was a week into One Month Rails and I was hooked, I immediately fell in love with Ruby and Rails.
      </p>
      <p>
        Quickly breezing through One Month Rails, Treehouse, and many other self-paced tutorials I was hungry and wanted more. I wanted to double-down on this new hobby and make it my career so I scrapped my planned one month summer vacation to Paris and instead joined <i>the Firehose Project</i> as a full stack web development student. It was exactly what I needed and I feel deeper and more intensely in love with Ruby/Rails once again.
      </p>
      <p>
        I'm now a graduate of <i>the Firehose Project</i> and once again I've decided to double-down. Having been such an amazing experience and wanting to keep building cool things while I was on the job hunt I started to build community projects for the students and alumni. With the support from the co-founders I launched the Firehose Project lightning talks. I designed the talks in such a way that students and recent alumni would be the only ones giving the talks. Basically Tom Sawyer'd them into getting comfortable and confident exploring new ideas outside of their guided curriculum world while having them feel at ease with public speaking. It was a huge success.
      </p>
      <p>
        Once again seeing an opportunity to share my knowledge, passion, and excitement I built two apps, a <%= link_to 'Jekyll blog platform', 'http://community.thefirehoseproject.com/' %> and a <%= link_to 'lightning talk app', 'http://firehoselightning.herokuapp.com/' %>, then I opened them up to the Firehose community to get some real world practice with contributing to open source. I moderate, maintain, code review, and discuss every GitHub issue and pull request with the students. To see the passion, excitement, and the enthusiasm of the students has been a wonderful experience.
      </p>
      <p>
        This journey has brought me right to this moment, the moment where I take another leap and toss my hat in the ring to be the next giant robot apprentice. As an apprentice of Upcase/thoughtbot I would bring my passion, excitement, enthusiasm, insatiable hunger for knowledge, and my strong desire to help other future developers fall in love with programming.
      </p>
    </div>
    <div class="fire col-xs-12">
      <h3 class="text-center"><i>lets talk about thoughtbot</i></h3>
      <hr />
      <p>
        Very early on in my pursuit of becoming a developer I was pulled towards thoughtbot. I saw how passionate thoughtbot is about their customers and their craft. It's not very often that you see that kind of emotional investment in a product or customer. That sort of thing draws me in and gets me excited because that's how I feel about my customers and my craft.
      </p>
      <p>
        It's not all about the financials and making as much money as possible. Thoughtbot spends a lot of time giving back to the community as a whole. That's an amazing thing. When you see someone or a group of people wanting to help other people out and inspire them to grow and develop that is intoxicating. The result of that is leading by example, thoughtbot gave me a solid example to help improve the lives of my community members and as a result has greatly improved my quality of life.
      </p>
      <p>
        One of the greatest things that I feel thoughtbot does is the podcasts. I've been listening to them from the first week I took the dive into web development. I didn't understand 99% of what I was hearing but I was learning by osmosis. I would listen intently and later when I hit a wall or had a new idea a lightbulb would go on and I would be reminded of something I heard on the podcast. They've been such a huge impact on my development career that I tell everyone I know to listen to them and every student I come in contact with Bikeshed and Giant Robots are the first two podcasts I suggest.
      </p>
      <p>
        To say that thoughtbot has had a big impact on my life as a developer is an understatement. Each day I look forward to a new podcast, new article, new talk, new product, or updated open source project. There is a strong sense of passion, excitement, enthusiasm, and empathy that thoughtbot portrays. Those portrayals inspire me to be the best developer I can be and would love to be able to grow into giant robot status and give back the way that thoughtbot does.
      </p>
    </div>
  </div>
</div><!-- End Cards Section -->
<div class="ice col-xs-12">
  <div class="col-xs-10 col-xs-offset-1 text-center">
    <h1>Colin Rubbert</h1>
    <%= partial 'partials/contacts' %>
    <h3 class="resume"><%= link_to 'resume', 'http://resume.colinrubbert.com' %></h3>
  </div>
</div>
